* {
    margin: 0px;
    padding: 0px;  
}

form{
    background-image: url("../Image/registrationbackground.jpeg");
    padding: 80px ;
    background-size: cover;
}

section{
    display: block;
}

.reg-img{
    text-align: center;
    color: white;
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#label{
    border-radius: 20px;

}
    
.btn1{
    padding: 6px 20px;
    border: 5px solid black;
    background-color: red;
    color: white;
    margin: 3px;
    font-size: 1.5rem;
    border-radius: 16px;
    cursor: pointer;
}

/*.box1 {
    height: 200px;
    width: 400px;
    margin: 0px auto;
    color: white;
    padding: 20px; 
} */